*.DS_Store
*.wav
*.jpg
*.jpeg
*.png
*.mov
*.mp4
*.mp3
*/cache_spin
cache_spin
OLD_Songs/
OLD_Songs/*
*OLD_Songs/
data/
*__pyc*
.vscode

*.pth

Pipeline/.EasyMocap/data

*.DS_Store
*.ipynb_checkpoint*

0*.json
cfg_*.yml
*tri.yml

OLD*
Other*

TransVAE_Baseline/models
TransVAE_Baseline/pretrained_models
TransVAE_Baseline/exps/lm2d

*.pkl

*.pt

TransVAE_Baseline/exps/*/*.tar
!checkpoint_5000.pth.tar
!checkpoint_10000.pth.tar

*trash/